#mary-helen-rogers {
  .section.main {
    .section-row.top {
      .row {
        @include bp-medium {
          justify-content: center;
          align-items: flex-start;

          margin-bottom: rem(-40, $text-bp-md);
        }
        @include bp-large {
          margin-bottom: rem(-40, $text-bp-lg);
        }
        #mary-helen-img-1 {
          width: 100%;
          @include bp-medium {

            width: rem(754, $text-bp-md);
          }
          @include bp-large {
            width: rem(927, $text-bp-lg);
          }
        }
        .box {
          @include bp-medium {
            z-index: 2;
            position: relative;

            right: rem(40, $text-bp-md);
            margin-top: rem(20, $text-bp-md);
          }
          @include bp-large {
            right: rem(40, $text-bp-lg);
            margin-top: rem(20, $text-bp-lg);
          }
        }
      }
    }
    .section-row.middle {

      #mary-helen-img-2 {
        @include bp-medium {
          z-index: 2;
          margin-left: auto; 

          width: rem(511, $text-bp-md);
          margin-top: rem(-55, $text-bp-md); 
        }
        @include bp-large {
          width: rem(624, $text-bp-lg);
          margin-top: rem(-55, $text-bp-lg);
        }
      }
      .row {
        @include bp-medium {
          align-items: flex-start;

          margin-top: rem(25, $text-bp-md);
          padding-bottom: rem(50, $text-bp-md);
        }
        @include bp-large {
          margin-top: rem(25, $text-bp-md);
          padding-bottom: rem(50, $text-bp-lg);
        }
      }
      #mary-helen-img-3 {
        @include bp-medium {
          width: rem(725, $text-bp-md);
        }
        @include bp-large {
          width: rem(884, $text-bp-lg);
        }
      }
    }
    .section-row.bottom {
      .copy-ctn {
        .row {
          justify-content: center;
          align-items: center;
        }
        .img-container {
          margin: 0 10px;
        }
        .img-container.one {

          width: rem(161, $text-bp-sm);
          @include bp-medium {
            width: rem(161, $text-bp-md);
          }
          @include bp-large {
            width: rem(161, $text-bp-lg);
          }
        }
        .img-container.two {

          width: rem(166, $text-bp-sm);
          @include bp-medium {
            width: rem(166, $text-bp-md);
          }
          @include bp-large {
            width: rem(166, $text-bp-lg);
          }
        }
      }
    }
  }

  .section.report {
    .box.brick {
      flex-basis: 100%;
    }
  }
}
