#donate {
  div.section {
    @include bp-medium {
      padding-top: 0;
      padding-left: rem(110, $text-bp-md);
    }
    @include bp-large {
      padding-left: rem(110, $text-bp-lg);
    }

    p.header {
      font-weight: 600;
      font-size: 32px;
      @include bp-medium {
        font-size: rem(32px, $text-bp-md);
      }
      @include bp-large {
        font-size: rem(32px, $text-bp-lg);
      }
    }

    .copy-ctn {
      font-size: 22px;
      @include bp-medium {
        font-size: rem(20px, $text-bp-md);
        margin-top: rem(50, $text-bp-md);
      }
      @include bp-large {
        font-size: rem(22px, $text-bp-lg);
        margin-top: rem(50, $text-bp-lg);
      }

      p {
        margin-top: 25px;
        @include bp-medium {
          margin-top: rem(25px, $text-bp-md);
        }
        @include bp-large {
          margin-top: rem(25px, $text-bp-lg);
        }
      }
      p.address {
        font-weight: 600;
      }
    }
  }
}
