.navbar {
  background-color: $plum;
  padding: rem(24px, $text-bp-sm);
  @include bp-medium {
    padding: rem(24px, $text-bp-md) rem(60, $text-bp-md) 0
      rem(60px, $text-bp-md);
  }
  @include bp-large {
    padding: rem(24px, $text-bp-lg) rem(60, $text-bp-lg) 0
      rem(60px, $text-bp-lg);
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;
    width: auto !important;
    @include bp-medium {
      flex-direction: row;
      width: auto !important;
      margin-left: rem(75, $text-bp-md);
      margin-right: rem(75, $text-bp-md);
    }
    @include bp-large {
      width: auto !important;
      margin-left: rem(75, $text-bp-lg);
      margin-right: rem(75, $text-bp-lg);
    }
    .logo-ctn {
      animation-name: frombottom;
      animation-duration: 2.3s;
      animation-timing-function: ease-in;
      display: flex;
      align-items: center;
      color: #f4efee;
      font-size: 32px;

      @include bp-medium {
        font-size: rem(32px, $text-bp-md);
      }
      @include bp-large {
        font-size: rem(32px, $text-bp-lg);
      }
      a {
        display: flex;
        text-decoration: none;
        color: #f4efee;
        align-items: center;
        .img-ctn {
          width: 72px;
          @include bp-medium {
            width: rem(72, $text-bp-md);
          }
          @include bp-large {
            width: rem(72, $text-bp-lg);
          }
        }
        .img-ctn2 {
          width: 110px;
          margin: 0 0 0px 5px;
          @include bp-medium {
            width: rem(110, $text-bp-md);
          }
          @include bp-large {
            width: rem(110, $text-bp-lg);
          } 
        }
        p {
          margin: 0 0 10px 10px;
          @include bp-medium {
            margin: 0 0 rem(10px, $text-bp-md) rem(10px, $text-bp-md);
          }
          @include bp-large {
            margin: 0 0 rem(10px, $text-bp-lg) rem(10px, $text-bp-lg);
          }
        }
      }
      a:hover, a:active {
        color: #fff;
      }
    }
    .nav-links {
      animation-name: frombottom;
      animation-duration: 2s;
      animation-timing-function: linear;

      list-style: none;
      padding: 0;
      align-items: center;
      text-align: center;
      @include bp-medium {
        display: flex;
        flex-basis: 55%;
        justify-content: space-between;
      }
      li {
        font-size: rem(22, $text-bp-sm);
        @include bp-medium {
          font-size: rem(22, $text-bp-md);
        }
        @include bp-large {
          font-size: rem(22, $text-bp-lg);
        }
      }
      li:not(:last-child) {
        @include bp-small-only {
          margin-bottom: rem(20, $text-bp-sm);
        }
        @include bp-medium {
          margin-right: rem(20, $text-bp-md);
        }
      }
      a {
        text-decoration: none;
        color: #f4efee;
        font-weight: 600;
      }
      a:hover, a:active {
        color: #fff;
      }

      .donate {
        background-color: #b8302a;
        border-radius: 4px;

        padding: rem(12, $text-bp-sm);
        @include bp-medium {
          padding: rem(12, $text-bp-md);
        }
      }
    }
  }
}
